.DS_Store
.env
.venv/
__pycache__/
*.pyc
.pytest_cache/
data/raw/**/*
!data/raw/**/.gitkeep
data/archive/**/*
data/processed/**/*
!data/processed/.gitkeep
data/datasets/**/*
data/final/**/*
!data/final/.gitkeep
